<main>
    <h2>Seja bem-vinde, {{ user.name }}</h2>
    <p>VOCÊ É CALVO AOS {{ user.age}} KKKKKKKKKKKKKKKKKK (vou perder o setembro amarelo)</p>
    {{#if auth }}
    <a href="/dashboard"> Acessar dashboard</a>
    {{else}}
    <p>Necessita de autenticação</p>
    {{/if}}
</main>